.home {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: var(--clr-primary);
    font-family: "Poppins", sans-serif;
}

.home__content {
    display: flex;
    align-self: center;
    justify-content: space-between; 
    width: 100%;
    margin-top: 7%;
    justify-content: center;
}

.home__text {
    display: flex;
    width: 45%;
    flex-direction: column;
}

.home__social {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-self: center;
    gap: 10px;
    font-size: 20px;
    left: 145px;
    top: 40.4%;
}

.home__social a {
    color: var(--clr-grey);
}

.home__social .home__social__links:hover {
    cursor: pointer;  
    transform: scale(1.5);
}

.home__title {
    display: flex;    
    font-size: 15px;
    font-weight: 300;
    margin-bottom: 20px;
    // margin-left: 30px;
    // align-self: center;
    color: var(--clr-grey);
}

.home__title .line__before {
    content: '';
    width: 35px;
    height: 1px;
    background-color: var(--clr-yellow);
    margin-top: 11px;
    margin-right: 5px; 
}

.home__hello {
    // background-color: green;
    font-family: "SF Mono","Fira Code","Fira Mono","Roboto Mono",monospace;
    align-self: center;
    font-size: 17px;
    font-weight: 300;
    color: var(--clr-grey);
}

.home__myname {
    margin-bottom: 1rem;
    letter-spacing: 1px;
    font-size: 70px;
    font-weight: 300;
    align-self: center;
    color: var(--clr-yellow);
}

.home__description {
    text-align: center;
    color: var(--clr-grey);
    margin-bottom: 2rem;
    align-self: center;
    font-size: 18px;
    font-weight: 300;
}

.button__to__projects {
    border: 2px solid var(--clr-yellow);
    background: transparent;
    display: flex;
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    color: var(--clr-grey);
    width: 10rem;
    height: 2.5rem;
    align-items: center;
    align-self: center;
    justify-content: center;
    gap: 0.5rem;
    text-transform: capitalize;
    border-radius: 25px;
    cursor: pointer;
    margin-bottom: 2rem;
    transition: .2s ease-in;
}
  
.button__to__projects:hover {
    background-color: var(--clr-yellow);
    color: var(--clr-primary);
}


@media only screen and (max-width: 650px) {
    .home {   
        position: relative;
        height: 81vh;
        
    }
    .home__content {
        flex-direction: column;
        width: auto;
        justify-content: center;
        align-items: center;
    }
    .home__title {
        font-size: 15px;
        margin-bottom: 3rem;
    }

    .home__hello {
        font-size: 16px;
        margin-bottom: 0.5rem;

    }

    .home__myname {       
        letter-spacing: 1px;
        font-size: 23px;
        margin-bottom: 3rem;

    }  

    .home__text {
        width: 90%;
    }

    .home__description {
        width: 100%;
        font-size: 16px;
        line-height: 1.8;
        margin-bottom: 3rem;
    }

    .button__to__projects {
       width: 8rem;
       font-size: 1rem;
       height: 2rem;
    }  
    
    .home__social {
        position: static;
        display: flex;
        flex-direction: row;
        align-self: center;
        gap: 7px;
        font-size: 20px;        
    }

}
