.sidebar__dot__container {
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 40vh;
    right: 20px;
    list-style: none;
    z-index: 20;
}

.sidebar__buttons {
    background: transparent;
    color: var(--clr-grey);
    border: none;
    margin-bottom: 0.5rem;
    font-size: large;

}

.sidebar__buttons.change {
    transform: scale(1.5);
    color: var(--clr-yellow);

}

// .sidebar__buttons.home1 {
//     color: red;
// }

.sidebar__buttons:hover {
    cursor: pointer;
    transform: scale(1.5);
    color: var(--clr-yellow);


}

@media only screen and (max-width: 650px){
    .sidebar__dot__container {
        display: none;
    }
}

// .sidebar__buttons:focus {
//     color: red;
// }


// .sidebar__dot__container li:hover {
//     color: red;
// }
// .sidebar__dot__container li .active {
//     color: red;
// }




// .navbar__dot {
//     display: flex;
//     // justify-content: space-between;

// }

// .navbar__dot ul {
//     list-style: none;
//     display: block;    
//     gap: 1rem;
//     text-transform: uppercase;
//     font-family: sans-serif;
// }

// .navbar__dot li {
//     margin-top: 10px;
//     display: flex;
//     color: white;
//     align-items: center;
//     font-weight: 600;
// }
// .navbar__dot li:hover {
//     cursor: pointer;
// }

// .nav__item__dot .active{
//     // transform: scale(1.5);
//     color: #008CBA;
//     // font-weight: bolder;
// }

