@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');
*{
  margin: 0;
  padding: 0;   
  --clr-primary: #263238;
  --clr-primary-100: rgb(36, 40, 43);
  --clr-yellow: #FFE082;
  --clr-grey: rgb(188, 186, 196);
  --clr-neutral: hsl(207, 19%, 9%);
  --font-primary: "Poppins", sans-serif;
  --font-secondary: "SF Mono","Fira Code","Fira Mono","Roboto Mono",monospace; 
}


@media only screen and (max-width: 650px){
  .app {
    background-color: var(--clr-primary);
  }
  *{
    margin: 0;
    padding: 0;
  }
}

::-webkit-scrollbar {
    width: 7px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #263238;
    // box-shadow: inset 0 0 5px #263238; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(188, 186, 196);
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #FFE082; 
  }

// horizontal scroll bar Design
  .projects__card__grid__container::-webkit-scrollbar {
    height: 4px;             
    
  }

// dives with z-index: 1000 does noe work over react reveal without this line 
  .react-reveal{
    animation-fill-mode: backwards !important;
  }
